body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,footer {
padding: 5px 5px 5px 5px ;
background-color: rgba(29, 22, 22, 0.821);
color: rgb(255, 255, 255);
font-size: 30px;
text-align: center;
width: 100%;
}

header{
position: absolute;
top: 0;
}

footer{
position: absolute;
bottom: 0;
}


main {
padding: 0px 0px;
margin-top: 17% ;
margin-bottom: 17%;
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 20px;

}

.conversor{
background-color: rgb(255, 255, 255);
border-style: solid ;
border-color: rgb(214, 214, 216);
border-width: 2px;
border-radius: 5px;
padding: 20px 60px 20px 40px ;
box-shadow: 0px 0px 10px rgba(138, 136, 136, 0.5);
}

label {
color: rgb(37, 37, 37);
font-weight: bold;
font-size: 25px;

}

input#decimal,input#binary{
color: rgb(115, 116, 116);
width: 100%;
padding: 8px 100px;
margin-bottom: 8px;
border: 1px solid;
border-radius: 5px;
font-size: 20px;
box-sizing: border-box;
text-align: center;


}

#btnDecimalToBinary,#btnBinaryToDecimal{
color: rgb(255, 255, 255);
background-color: rgba(29, 22, 22, 0.821);
padding: 15px;
width: 100%;
border: 1px solid;
border-radius: 6px;
cursor: pointer;
font-size: 20px;
}

#btnDecimalToBinary:hover,#btnBinaryToDecimal:hover{
background-color: rgb(122, 122, 122);
}



@media (max-width: 720px) {


    
}
